# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock
generated_plugin_registrant.dart
**/doc/api/
**/ios/Flutter/.last_build_id

# Generated app icons
**/android/app/src/main/res/mipmap*/
**/ios/Runner/Assets.xcassets/AppIcon.appiconset/
**/web/icons/
**/windows/runner/resources/app_icon*
**/macos/Runner/Assets.xcassets/AppIcon.appiconset/

# Assets management
!**/assets/
!**/assets/images/
**/assets/images/*
!**/assets/images/.gitkeep
!**/assets/images/digident_logo.png

# iOS & Android specific
ios/Pods/
android/.gradle/
android/app/debug.keystore
/android/app/debug
/android/app/profile
/android/app/release

# Symbolication & obfuscation
app.*.symbols
app.*.map.json

# IDE related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# System files
*.log
*.swp
*.swo
*.swn
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Python related
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# Dependency management
Pipfile
Pipfile.lock
poetry.lock

# Database
instance/
*.sqlite3
db.sqlite3
migrations/

# Other
node_modules/
/dist/
/logs/